<h1 class="display-3 text-center text-light mb-4">{{header}}</h1>
<div class="container jumbotron">
  <div class="row">
    <div class="col-sm-9">
      <h2>{{story?.title}}</h2>
    </div>
    <div class="col-sm-3">
      <app-countdown-timer [updateTime]="story?.updateTime"></app-countdown-timer>
    </div>
  </div>
  <blockquote class="blockquote pl-4">
    <p>{{paragraph}} <span class="text-muted font-italic">{{phrase}}</span></p>
    <footer class="blockquote-footer">{{story?.citation}}</footer>
  </blockquote>
</div>
