<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">Satoshi's Stories</a>
  <ul class="nav navbar-nav">
    <li><a class="nav-link" [routerLink]="['/storylist']">Home</a></li>
    <li><a class="nav-link" [routerLink]="['/storylist']">Stories</a></li>
  </ul>
</nav>
<div class="main" [@routerTransition]="getPage(appOutlet)">
  <div>
    <router-outlet #appOutlet="outlet"></router-outlet>
  </div>
</div>

